@model Karyon.Models.ChangeSponsor

@{
    ViewData["Title"] = "ChangeSponsorLeg";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="ChangeSponsorLeg">
    <div class="main-container container-fluid">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="left-content">
                <span class="main-content-title mg-b-0 mg-b-lg-1">Change Sponsor </span>
            </div>
            <div class="justify-content-center mt-2">
                <ol class="breadcrumb breadcrumb-style3">
                    <li class="breadcrumb-item tx-15"><a href="javascript:void(0)">Accounts</a></li>
                    <li class="breadcrumb-item tx-15"><a href="javascript:void(0)">Change Sponsor & Leg</a></li>

                </ol>
            </div>
        </div>
        <!-- /breadcrumb -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="color:red">Note : Please use new Id</h6>
                            </div>
                        </div>
                        <div class="row">
                         

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Login Id</label>
                                    <input type="text" asp-for="LoginId" class="form-control" placeholder="Login Id" onchange="return GetSponsorName('1')" />
                                </div>

                            </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Name</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="OldSponsorName" style="color:blue"></span> 
                                    <input type="text" class="form-control" placeholder="Name" id="Name" disabled />
                                </div>

                            </div>

                        </div>
                       
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sponsor Id</label>
                                    <input type="text" asp-for="SponsorLoginId" class="form-control" placeholder="Sponsor Id" onchange="return GetSponsorName('2')" />
                                </div>

                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sponsor Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="SponsorName" disabled />
                                </div>

                            </div>
                        </div>
                        
                         <div class="row">
                            <input type="hidden" asp-for="BIDUID" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">UID/BID</label>
                                    <input type="radio" id="rdbBID" name="rdbBIDUID" value="1" checked /> <span>&nbsp;BID</span>
                                    <input type="radio" id="rdbUID" name="rdbBIDUID" value="0" /> <span>&nbsp;UID</span>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="text-right">

                                    <button type="submit" value="Change" class="btn btn-success" onclick="return Fvalidate();" name="Change">Change</button>
                                    <p style="color:red">@TempData["ChangeSponsor"]</p>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                        <table class="table table-striped" id="MyDirectList">
                                            <thead>
                                                <tr>
                                                    <th>S. No.</th>
                                                    <th>LoginId</th>
                                                    <th>Name</th>
                                                    <th>Old Sponor</th>
                                                    <th>New Sponsor</th>
                                                   
                                                    <th>Requested Date</th>

                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {

                                                    if (Model.dtDetails != null)
                                                    {
                                                        int i = 1;

                                                        for (int j = 0; j <= Model.dtDetails.Rows.Count - 1; j++)
                                                        {
                                                            <tr>
                                                                <td>@i</td>
                                                                <td><span>@Model.dtDetails.Rows[j]["LoginId"]</span></td>
                                                                <td>@Model.dtDetails.Rows[j]["Name"]</td>
                                                               
                                                                <td>@Model.dtDetails.Rows[j]["OldSponor"] </td>
                                                                <td>@Model.dtDetails.Rows[j]["NewSponsor"] </td>
                                                               
                                                                <td>@Model.dtDetails.Rows[j]["RequestedDate"] </td>

                                                                
                                                            </tr>
                                                            i++;
                                                        }

                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                            </div>

                           


                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    function GetSponsorName(value) {
        var loginid = "";
        if (value == "1") {
            loginid = $('#LoginId').val();
        }
        else {
            loginid = $('#SponsorLoginId').val()
        }
        $(".errortext").removeClass("errortext");
        $('#pre-loader').show();
        $.ajax({
            url: '/Home/GetSponsorNameByNewId',
            type: 'Post',
            data: { SponsorId: loginid },
            success: function(response) {
                if (response != null) {
                    console.log(response);
                    if (response.status == 1) {
                        if (value == "1") {
                            $('#Name').val(response.response.name);
                            var sposorname = response.response.sponsorName + '(' + response.response.sponsorLoginId + ')';
                       
                            $('#OldSponsorName').text(sposorname);
                            if (response.response.isBID == "True") {
                                $("#rdbBID").prop("checked", true);
                                $("#rdbUID").prop("checked", false);


                            }
                            else {
                                $("#rdbBID").prop("checked", false);
                                $("#rdbUID").prop("checked", true);
                            }
                        }
                        else {
                            $('#SponsorName').val(response.response.name);
                        }

                    }
                    else {
                        if (value == "1") {
                            $('#LoginId').val('');
                            $('#Name').val(''); 1
                            $("#LoginId").addClass('errortext');
                            $('#LoginId').focus();
                        }
                        else {
                            $('#SponsorLoginId').val('');
                            $('#SponsorName').val(''); 1
                            $("#SponsorLoginId").addClass('errortext');
                            $('#SponsorLoginId').focus();
                        }
                        alert(response.message);

                    }

                    $("#pre-loader").hide();

                }
                else {
                    $("#pre-loader").hide();
                }
            }, error: function() {
                //alert('Some Thing wrong!');
                $("#pre-loader").hide();

            }
        });
    }

    function Fvalidate() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == "") {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#SponsorLoginId').val() == "") {
            $("#SponsorLoginId").addClass('errortext');
            $('#SponsorLoginId').focus();
            return false;
        }


        var BIDUID = $('input[name="rdbBIDUID"]:checked').val();

        $('#BIDUID').val(BIDUID);
        $("#pre-loader").show();
    }
</script>