@model Karyon.Models.Criterias
@{
    ViewData["Title"] = "Criteria";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}

<style>
    .border-4 {
        border-left: 2px solid #53A653 !important;
        padding: 6px;
    }

    .border-2 {
        border-left: 2px solid #DC3545 !important;
        padding: 6px;
    }

    .border-3 {
        border-left: 2px solid #EBA31D !important;
        padding: 6px;
    }
</style>
<form asp-action="Criteria">


    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6 ps-0">
                        <h3>Criteria</h3>
                    </div>
                    <div class="col-sm-6 pe-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <svg class="stroke-icon">
                                        <use href="../../associatepanel/assets/svg/icon-sprite.svg#stroke-home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Criteria</li>
                            <li class="breadcrumb-item active"> Criteria</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /breadcrumb -->
        <div class="row">
            <div class="col-xl-6">
                <div class="card pending-project">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <a href="#">
                                    <h4 class="mb-2">Current Month Business</h4>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <div class="border-4">
                                        <h4>Self</h4>
                                        @if(Model!=null && Model.dtDetailsR!=null && Model.dtDetailsR.Rows.Count>0)
                                        {
                                            <p>@Model.dtDetailsR.Rows[0]["SelfBusiness"].ToString()</p>
                                        }
                                        else
                                        {
                                            <p>0.00</p>
                                        }
                                    </div>
                                    <div class="border-3">
                                        <h4>UID</h4>
                                        @if (Model != null && Model.dtDetailsR != null && Model.dtDetailsR.Rows.Count > 0)
                                        {
                                            <p>@Model.dtDetailsR.Rows[0]["UIDBusiness"].ToString()</p>
                                        }
                                        else
                                        {
                                            <p>0.00</p>
                                        }
                                    </div>
                                    <div class="border-2">
                                        <h4>Total</h4>
                                        @if (Model != null && Model.dtDetailsR != null && Model.dtDetailsR.Rows.Count > 0)
                                        {
                                            <p>@Model.dtDetailsR.Rows[0]["Total"].ToString()</p>
                                        }
                                        else
                                        {
                                            <p>0.00</p>
                                        }
                                    </div>
                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered radio-first-col-width">
                                <thead style="background: #40541d;">
                                    <tr>
                                        <th class="text-white"></th>
                                        <th class="text-white">Target</th>
                                        <th class="text-white">Achieved</th>
                                        <th class="text-white">Balance</th>
                                        <th class="text-white">Status</th>
                                        <th class="text-white">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model!=null && Model.dtDetails!=null && Model.dtDetails.Rows.Count>0)
                                    {
                                        for(var i=0;i<Model.dtDetails.Rows.Count;i++)
                                        {
                                            <tr>
                                                <td>@Model.dtDetails.Rows[i]["Name"].ToString()<br/>@Model.dtDetails.Rows[i]["Description"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[i]["ToTarget"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[i]["Achived"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[i]["Balance"].ToString()</td>
                                                <td>
                                                    @if (Model.dtDetails.Rows[i]["Status"].ToString() == "Pending")
                                                    {
                                                        <span class="badge badge-danger">
                                                            @Model.dtDetails.Rows[i]["Status"].ToString()
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success">
                                                            @Model.dtDetails.Rows[i]["Status"].ToString()
                                                        </span>
                                                    }
                                                </td>
                                       
                                                <td><a href="#" data-bs-target="#largeModal" data-bs-toggle="modal" onclick="getbusinessdetails('@Model.dtDetails.Rows[i]["Name"].ToString()')">View Details</a></td>
                                                
                                            </tr>
                                        }
                                    }
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="headingtext">Business Details</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <p style="color:red" id="pre-loader">Loading...</p>
                        <div class="table-responsive">
                            <table class="table table-bordered radio-first-col-width" id="businessdetails" style="display:none">
                                <thead style="background: #40541d;">
                                    <tr>
                                        <th class="text-white">S. No.</th>
                                        <th class="text-white">LoginId</th>
                                        <th class="text-white">Name</th>                                       
                                        <th class="text-white" id="txtpv">PV</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="modal-footer">
                        @* <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal" onclick="return window.location.reload(true)" type="button">Close</button>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function getbusinessdetails(Type) {
        $("#pre-loader").show();
        $("#businessdetails").hide();
        var headingtext = Type;
        $('#headingtext').text(headingtext);
        $.ajax({
            url: '/Associate/GetBusiness',
            type: 'Post',
            data: { Type: Type },
            success: function (response) {
                $("#businessdetails tbody").html('');
                if (response != null) {
                    console.log(response);
                    var str = "";
                    var srno = 1;
                    for (var i = 0; i < response.lstData.length; i++) {
                        if (response.lstData[i].type == 'Karyon Super Star Club Bonus') {
                            $('#txtpv').hide();
                            str += "<tr><td>" + srno + "</td><td>" + response.lstData[i].loginId + "</td><td>" + response.lstData[i].name + "</td></tr>";
                            
                        }
                        else{
                            $('#txtpv').show();
                            str += "<tr><td>" + srno + "</td><td>" + response.lstData[i].loginId + "</td><td>" + response.lstData[i].name + "</td><td>" + response.lstData[i].totalPV + "</td></tr>";
                            
                        }
                        
                        srno = srno + 1;
                    }
                    if (response.type == 'Karyon Super Star Club Bonus')
                    {
                        $('#txtpv').hide();
                    }
                    else
                    {
                        $('#txtpv').show();
                    }
                    $("#businessdetails tbody").html(str);
                    $("#pre-loader").hide();
                    $("#businessdetails").show();

                }
                else {
                    $("#pre-loader").hide();
                    $("#businessdetails tbody").html('');
                    $("#businessdetails").show();
                }
            }, error: function () {

                $("#pre-loader").hide();
                $("#businessdetails tbody").html('');
                $("#businessdetails").show();

            }
        });
    }
</script>
